.navbar-profile {
  padding-left: 104px;
  padding-right: 104px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
}

.navbar-profile__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  align-self: center;
  color: black;
  cursor: pointer;
}

.navbar-profile__buttons {
  justify-content: space-between;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.navbar-profile__home-container {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.navbar-profile__home {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 49px;
  padding: 0;
  background: none;
  margin-right: 76px;
  color: black;
  cursor: pointer;
  height: 24px;
  border: none;
}

.navbar-profile__white-line {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 178px;
  right: -146px;
}

.navbar-profile__saved-articles {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 116px;
  padding: 0;
  background: none;
  margin-right: 64px;
  border: none;
  color: black;
  cursor: pointer;
  height: 24px;
  align-self: center;
}

.navbar-profile__logout {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 20px 0;
  background: none;
  height: 48px;
  align-self: center;
  border-radius: 40px;
  color: black;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navbar-profile__toggle-button {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  padding: 0;
  visibility: hidden;
  cursor: pointer;
}

.menu {
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.menu-profile__top {
  height: 66px;
  background: black;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
  position: relative;
}

.menu-profile__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  align-self: center;
  color: white;
  cursor: pointer;
  margin-left: 16px;
  padding-top: 16px;
}

.menu-profile__close-icon {
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.menu-profile__bottom {
  height: 164px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 0;
}

.menu-profile__home {
  margin: 0;
  color: white;
  padding: 20px 0 20px;
  cursor: pointer;
}

.menu-profile__signout {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  padding: 0;
  background: none;
  height: 48px;
  align-self: center;
  border-radius: 40px;
  color: white;
  border-color: white;
  cursor: pointer;
  margin-bottom: 30px;
  width: 100%;
}

.navbar-profile__image {
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .navbar-profile {
    padding: 0 40px 0;
  }
}

@media screen and (max-width: 769px) {
  .navbar-profile {
    padding: 0;
    height: 55px;
    justify-content: flex-start;
    position: relative;
  }
  .navbar-profile__title {
    width: 117px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .navbar-profile__toggle-button {
    visibility: visible;
  }
  .navbar-profile__buttons {
    visibility: hidden;
  }
  .menu-profile__signout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
  }
  .menu-profile__bottom {
    height: auto;
    gap: 20px;
  }
  .menu-profile__home {
    padding: 0;
    border: 0;
    background: none;
    width: 310px;
    height: 32px;
    margin-top: 23px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    width: 100%;
  }
  .menu-profile__saved {
    color: white;
    padding: 0;
    border: 0;
    background: none;
    width: 310px;
    height: 32px;
    margin: 0 0 17px 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    width: 100%;
  }
}
