.header-home {
  background-image: url("../../images/headerBackground.svg");
  height: 576px;
}

.header-home__content {
  display: flex;
  flex-direction: column;
  width: 608px;
  margin-right: auto;
  margin-left: auto;
}

.header-home__text {
  flex-direction: column;
  display: flex;
  width: 100%;
  text-align: start;
}

.header-home__title {
  color: white;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.header-home__subtitle {
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.header-home__search-wrap__box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.header-home__search-wrap__text {
  height: 64px;
  border: 0;
  width: 564px;
  border-radius: 35px;
  padding: 0 0 0 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: black;
}

.header-home__search-wrap__button {
  height: 64px;
  padding: 0;
  border: 0;
  background: #2f71e5;
  width: 168px;
  position: absolute;
  right: 18px;
  border-radius: 35px;
  top: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}

.header-home__search-wrap__button:hover {
  background: #347eff;
}

.header-home__search-wrap__button-clicked {
  height: 64px;
  padding: 0;
  border: 0;
  background: #2a65cc;
  width: 168px;
  position: absolute;
  right: 18px;
  border-radius: 35px;
  top: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .header-home {
    height: 400px;
  }
  .header-home__content {
    width: 448px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-home__title {
    font-size: 36px;
    line-height: 40px;
    margin: 38px 0 16px;
  }
  .header-home__subtitle {
    margin: 0 0 48px;
  }
  .header-home__search-wrap__text {
    width: 424px;
  }
  .header-home__search-wrap__button {
    right: -2px;
  }
  .header-home__search-wrap__button-clicked {
    right: -2px;
  }
}

@media screen and (max-width: 520px) {
  .header-home {
    height: 536px;
  }
  .header-home__content {
    max-width: calc(100% - 32px);
    width: 100%;
  }
  .header-home__title {
    margin: 30px 0 16px;
  }
  .header-home__subtitle {
    margin: 0 0 122px;
  }
  .header-home__search-wrap__box {
    display: flex;
    flex-direction: column;
  }
  .header-home__search-wrap__text {
    margin-bottom: 16px;
    width: 93.5%;
  }
  .header-home__search-wrap__button {
    width: 100%;
    position: relative;
  }
  .header-home__search-wrap__button-clicked {
    width: 100%;
    position: relative;
  }
}
