/* "nli" stands for Not Logged In */

.navbar-nli {
  padding-left: 104px;
  padding-right: 104px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
}

.navbar-nli__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  align-self: center;
  color: white;
  cursor: pointer;
}

.navbar-nli__buttons {
  justify-content: space-between;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.navbar-nli__home-container {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.navbar-nli__home {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 49px;
  padding: 0;
  background: none;
  margin-right: 42px;
  border: none;
  color: white;
  cursor: pointer;

}

.navbar-nli__white-line {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 70px;
  left: -10px;
}

.navbar-nli__signin {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 176px;
  padding: 0;
  background: none;
  height: 48px;
  align-self: center;
  border-radius: 40px;
  color: white;
  border-color: white;
  cursor: pointer;

}

/* "nli" stands for Not Logged In */

.navbar-li {
  padding-left: 104px;
  padding-right: 104px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
}

.navbar-li__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  align-self: center;
  color: white;
  cursor: pointer;

}

.navbar-li__buttons {
  justify-content: space-between;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.navbar-li__home-container {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.navbar-li__home {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 49px;
  padding: 0;
  background: none;
  margin-right: 76px;
  color: white;
  cursor: pointer;
  height: 24px;
  border: none;
}

.navbar-li__white-line {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 70px;
  left: -12px;
}

.navbar-li__saved-articles {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 116px;
  padding: 0;
  background: none;
  margin-right: 64px;
  border: none;
  color: #b6bcbf;
  cursor: pointer;
  height: 24px;
  align-self: center;

}

.navbar-li__logout {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 20px 0;
  background: none;
  height: 48px;
  align-self: center;
  border-radius: 40px;
  color: white;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

.navbar-li__image {
  margin-left: 10px;
}
