.search {
    width: 1440px;
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
}

.search__title {
    color: #1A1B22;
    font-family: "Roboto Slab", Arial, sans-serif;
font-size: 40px;
font-weight: 400;
line-height: 46px; 
margin: 80px 0 64px 104px;
}

.search__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px 16px;
    margin: 0 0 0 104px;
    padding: 0;
}

.search__cards__active {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px 16px;
    margin: 0 0 62px 104px;
    padding: 0;
}

.search__button {
    width: 288px;
    height: 64px;
    margin: 64px auto 80px;
    padding: 0;
    border: none;
    border-radius: 35px;
    background: #E8E8E8;
}