.nothing-found {
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #F5F6F7;
}

.nothing-found__image {
    height: 82.5px;
    width: 82.5px;
    margin-right: auto;
    margin-left: auto;
}

.nothing-found__title {
    text-align: center;
    font-family: "Roboto Slab", Arial, sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.nothing-found__subtitle {
    text-align: center;
    color: #B6BCBF;
    font-family: "Roboto", Arial, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}