@import url("./components/About/About.css");
@import url("./components/App/App.css");
@import url("./components/Footer/Footer.css");
@import url("./components/HeaderHome/HeaderHome.css");
@import url("./components/HeaderProfile/HeaderProfile.css");
@import url("./components/NavBar/NavBar.css");
@import url("./components//NavBarProfile/NavBarProfile.css");
@import url("./components/NewsCard/NewsCard.css");
@import url("./components/NothingFound/NothingFound.css");
@import url("./components/PopupWithForm/PopupWithForm.css");
@import url("./components/Preloader/Preloader.css");
@import url("./components/RegisterModal/RegisterModal.css");
@import url("./components/SearchResultsHome/SearchResultsHome.css");
@import url("./components/SignInModal/SignInModal.css");
@import url("./components/SuccessfulModal/SuccessfulModal.css");
@import url("./vendor/fonts/inter.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
